d-figure.nn2{
  grid-column: screen;
}

/*d-figure{
  grid-column: page;
}*/

/*d-figure.teaser{
  grid-column: page;
}
figcaption.teaser{
  grid-column: page;
}*/

/*.teaser-fullscreenButton{
    left: 0px;
}
.teaser-grandtourButton{
    left: 0px;
}
*/